header {
    .header-up {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 30px;
        position: fixed;
        top: 0;
        z-index: 9999;
        background-color: rgb(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 52px;

            .menu-btn {
                display: none;
            }

            &__search {
                align-self: stretch;
                border-radius: 10px;
                background-color: $color-grey;
                width: 427px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px;

                input {
                    background-color: $color-grey;
                    width: 100%;

                    &::placeholder {
                        color: silver;
                    }
                }
            }

            &__question {
                background-color: $color-green;
                padding: 0 20px;
                height: 100%;
                display: flex;
                align-items: center;
                gap: 5px;
                border-radius: 10px;
                cursor: pointer;
                @include font-style(16px, $ff-OpenSansSemiBold, $color-white);

                &:hover {
                    background-color: $primary-white-green;
                    transition: all 0.3s ease;
                }

            }

            &__tel {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;

                &--link {
                    @include font-style(20px, $ff-OpenSansBold, $color-black);
                }

                &--text {
                    @include font-style(14px, $ff-OpenSansRegular, silver);
                }
            }


            &__mobile {
                display: none;
                column-gap: 15px;

                &--search {
                    display: block;
                }

                &--user {
                    display: block;
                }
            }

            .hamburger-menu{
                display: none;
            }
        }
    }

    .header-down {
        margin-top: 124px;

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header__connection {
                display: flex;
                column-gap: 20px;

                &--call {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    border: 1px solid $primary-grey;
                    border-radius: 10px;
                    padding: 10px 20px;
                    font-size: 16px;
                    color: $primary-black;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: $primary-white-blue;
                        color: $color-white;
                    }
                }

                &--tg {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    border: 1px solid $primary-grey;
                    border-radius: 10px;
                    padding: 10px 20px;
                    font-size: 16px;
                    color: $primary-black;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: $primary-white-blue;
                        color: $color-white
                    }
                }
            }

            .header__list {
                display: flex;
                align-items: center;
                column-gap: 30px;

                &--item {
                    position: relative;

                    &::after {
                        content: " ";
                        width: 0;
                        height: 2px;
                        background-color: $primary-green;
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%);
                        transition: all 0.3s ease;
                    }

                    &:hover::after {
                        width: 100%
                    }

                    &-link {
                        @include font-style(16px, $ff-OpenSansSemiBold, $primary-black);
                    }
                }
            }

            .header__user {
                display: flex;
                align-items: center;
                column-gap: 5px;

                &--link {
                    @include font-style(16px, $ff-OpenSansRegular, $primary-black);
                }
            }
        }
    }

}

@media only screen and (max-width: 1100px) {
    header {
        .header-up {
            width: 100%;
            padding-top: 40px;
            padding-bottom: 30px;
            position: fixed;
            top: 0;
            z-index: 99999;
            background-color: rgb(255, 255, 255, 0.1);
            backdrop-filter: blur(20px);

            .nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 52px;

                &__logo {
                    img {
                        width: 100%;
                    }
                }

                &__search {
                    align-self: stretch;
                    border-radius: 10px;
                    background-color: $color-grey;
                    width: 350px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20px;

                    input {
                        background-color: $color-grey;
                        width: 100%;

                        &::placeholder {
                            color: silver;
                        }
                    }
                }

                &__question {
                    background-color: $color-green;
                    padding: 0 20px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                    @include font-style(16px, $ff-OpenSansSemiBold, $color-white);

                }

                &__tel {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 100%;

                    &--link {
                        @include font-style(20px, $ff-OpenSansBold, $color-black);
                    }

                    &--text {
                        @include font-style(14px, $ff-OpenSansRegular, silver);
                    }
                }
            }
        }

        .header-down {
            margin-top: 124px;

            .wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header__connection {
                    display: flex;
                    column-gap: 20px;

                    &--call {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        border: 1px solid $primary-grey;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: $primary-black;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $primary-white-blue;
                            color: $color-white;
                        }
                    }

                    &--tg {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        border: 1px solid $primary-grey;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: $primary-black;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $primary-white-blue;
                            color: $color-white
                        }
                    }
                }

                .header__list {
                    display: flex;
                    align-items: center;
                    column-gap: 15px;
                    
                    &--item {
                        position: relative;

                        &::after {
                            content: " ";
                            width: 0;
                            height: 2px;
                            background-color: $primary-green;
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translate(-50%);
                            transition: all 0.3s ease;
                        }

                        &:hover::after {
                            width: 100%
                        }

                        &-link {
                            @include font-style(16px, $ff-OpenSansSemiBold, $primary-black);
                        }
                    }
                }

                .header__user {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;

                    &--link {
                        @include font-style(16px, $ff-OpenSansRegular, $primary-black);
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 1000px) {
    header {
        .header-up {
            width: 100%;
            padding-top: 40px;
            padding-bottom: 30px;
            position: fixed;
            top: 0;
            z-index: 99999;
            background-color: rgb(255, 255, 255, 0.1);
            backdrop-filter: blur(20px);

            .nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 52px;

                &__logo {
                    img {
                        width: 100%;
                    }
                }

                &__search {
                    align-self: stretch;
                    border-radius: 10px;
                    background-color: $color-grey;
                    width: 250px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20px;

                    input {
                        background-color: $color-grey;
                        width: 100%;

                        &::placeholder {
                            color: silver;
                        }
                    }
                }

                &__question {
                    background-color: $color-green;
                    padding: 0 10px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                    @include font-style(16px, $ff-OpenSansSemiBold, $color-white);

                }

                &__tel {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 100%;

                    &--link {
                        @include font-style(16px, $ff-OpenSansBold, $color-black);
                    }

                    &--text {
                        @include font-style(12px, $ff-OpenSansRegular, silver);
                    }
                }
            }
        }

        .header-down {
            margin-top: 124px;

            .wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header__connection {
                    display: flex;
                    column-gap: 20px;

                    &--call {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        border: 1px solid $primary-grey;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: $primary-black;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $primary-white-blue;
                            color: $color-white;
                        }
                    }

                    &--tg {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        border: 1px solid $primary-grey;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: $primary-black;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $primary-white-blue;
                            color: $color-white
                        }
                    }
                }

                .header__list {
                    display: flex;
                    align-items: center;
                    column-gap: 15px;

                    &--item {
                        position: relative;

                        &::after {
                            content: " ";
                            width: 0;
                            height: 2px;
                            background-color: $primary-green;
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translate(-50%);
                            transition: all 0.3s ease;
                        }

                        &:hover::after {
                            width: 100%
                        }

                        &-link {
                            @include font-style(16px, $ff-OpenSansSemiBold, $primary-black);
                        }
                    }
                }

                .header__user {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    display: none;

                    &--link {
                        @include font-style(16px, $ff-OpenSansRegular, $primary-black);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    header {
        .header-up {
            width: 100%;
            padding-top: 40px;
            padding-bottom: 30px;
            position: fixed;
            top: 0;
            z-index: 99999;
            background-color: rgb(255, 255, 255, 0.1);
            backdrop-filter: blur(20px);

            .nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 52px;

                &__logo {
                    img {
                        width: 200px;
                    }
                }

                &__search {
                    align-self: stretch;
                    border-radius: 10px;
                    background-color: $color-grey;
                    width: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20px;

                    input {
                        background-color: $color-grey;
                        width: 100%;

                        &::placeholder {
                            color: silver;
                        }
                    }
                }

                &__question {
                    background-color: $color-green;
                    padding: 0 10px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                    @include font-style(16px, $ff-OpenSansSemiBold, $color-white);
                    display: none;

                }

                &__tel {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 100%;

                    &--link {
                        @include font-style(16px, $ff-OpenSansBold, $color-black);
                    }

                    &--text {
                        @include font-style(12px, $ff-OpenSansRegular, silver);
                    }
                }
            }
        }

        .header-down {
            margin-top: 124px;

            .wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header__connection {
                    display: flex;
                    column-gap: 20px;

                    &--call {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        border: 1px solid $primary-grey;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: $primary-black;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $primary-white-blue;
                            color: $color-white;
                        }
                    }

                    &--tg {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        border: 1px solid $primary-grey;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: $primary-black;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $primary-white-blue;
                            color: $color-white
                        }
                    }
                }

                .header__list {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;

                    &--item {
                        position: relative;

                        &::after {
                            content: " ";
                            width: 0;
                            height: 2px;
                            background-color: $primary-green;
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translate(-50%);
                            transition: all 0.3s ease;
                        }

                        &:hover::after {
                            width: 100%
                        }

                        &-link {
                            @include font-style(16px, $ff-OpenSansSemiBold, $primary-black);
                        }
                    }
                }

                .header__user {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    display: none;

                    &--link {
                        @include font-style(16px, $ff-OpenSansRegular, $primary-black);
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 850px) {
    header {
        .header-up {
            width: 100%;
            padding-top: 30px;
            padding-bottom: 20px;
            position: fixed;
            top: 0;
            z-index: 99999;
            background-color: rgb(255, 255, 255, 0.1);
            backdrop-filter: blur(20px);

            .nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 52px;

                &__logo {
                    img {
                        width: 200px;
                    }
                }

                &__search {
                    align-self: stretch;
                    border-radius: 10px;
                    background-color: $color-grey;
                    width: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20px;

                    input {
                        background-color: $color-grey;
                        width: 100%;

                        &::placeholder {
                            color: silver;
                        }
                    }
                }

                &__question {
                    background-color: $color-green;
                    padding: 0 10px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                    @include font-style(16px, $ff-OpenSansSemiBold, $color-white);
                    display: none;

                }

                &__tel {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 100%;

                    &--link {
                        @include font-style(16px, $ff-OpenSansBold, $color-black);
                    }

                    &--text {
                        @include font-style(12px, $ff-OpenSansRegular, silver);
                    }
                }
            }
        }

        .header-down {
            margin-top: 110px;
            .wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header__connection {
                    display: flex;
                    column-gap: 20px;
                    display: none;

                    &--call {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        border: 1px solid $primary-grey;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: $primary-black;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $primary-white-blue;
                            color: $color-white;
                        }
                    }

                    &--tg {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        border: 1px solid $primary-grey;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: $primary-black;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $primary-white-blue;
                            color: $color-white
                        }
                    }
                }

                .header__list {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: 100%;

                    &--item {
                        position: relative;

                        &::after {
                            content: " ";
                            width: 0;
                            height: 2px;
                            background-color: $primary-green;
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translate(-50%);
                            transition: all 0.3s ease;
                        }

                        &:hover::after {
                            width: 100%
                        }

                        &-link {
                            @include font-style(16px, $ff-OpenSansSemiBold, $primary-black);
                        }
                    }
                }

                .header__user {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    display: none;

                    &--link {
                        @include font-style(16px, $ff-OpenSansRegular, $primary-black);
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 750px) {
    header {
        .header-up {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            position: fixed;
            top: 0;
            z-index: 99999;
            background-color: rgb(255, 255, 255, 0.1);
            backdrop-filter: blur(20px);

            .nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 52px;

                &__logo {
                    img {
                        width: 200px;
                    }
                }

                &__search {
                    align-self: stretch;
                    border-radius: 10px;
                    background-color: $color-grey;
                    width: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20px;

                    input {
                        background-color: $color-grey;
                        width: 100%;

                        &::placeholder {
                            color: silver;
                        }
                    }
                }

                &__question {
                    background-color: $color-green;
                    padding: 0 10px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                    @include font-style(16px, $ff-OpenSansSemiBold, $color-white);
                    display: none;

                }

                &__tel {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 100%;
                    display: none;

                    &--link {
                        @include font-style(16px, $ff-OpenSansBold, $color-black);
                    }

                    &--text {
                        @include font-style(12px, $ff-OpenSansRegular, silver);
                    }
                }
            }
        }

        .header-down {
            margin-top: 104px;

            .wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header__connection {
                    display: flex;
                    column-gap: 20px;
                    display: none;

                    &--call {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        border: 1px solid $primary-grey;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: $primary-black;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $primary-white-blue;
                            color: $color-white;
                        }
                    }

                    &--tg {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        border: 1px solid $primary-grey;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: $primary-black;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $primary-white-blue;
                            color: $color-white
                        }
                    }
                }

                .header__list {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: 100%;

                    &--item {
                        position: relative;

                        &::after {
                            content: " ";
                            width: 0;
                            height: 2px;
                            background-color: $primary-green;
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translate(-50%);
                            transition: all 0.3s ease;
                        }

                        &:hover::after {
                            width: 100%
                        }

                        &-link {
                            @include font-style(16px, $ff-OpenSansSemiBold, $primary-black);
                        }
                    }
                }

                .header__user {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    display: none;

                    &--link {
                        @include font-style(16px, $ff-OpenSansRegular, $primary-black);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .swipe{
        transform: translateX(-120%) !important;
    }
    header {
        position: relative;
        border: 1px solid transparent;
        .header-up {
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            position: fixed;
            top: 0;
            z-index: 99999;
            background-color: rgb(255, 255, 255, 0.1);
            backdrop-filter: blur(20px);
            
            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: $primary-grey;
                position: absolute;
                top: 100%;
                left: 0;
            }

            .nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 52px;
              
                .menu-btn {
                    display: block;
                    background-color: transparent;
                }

                &__logo {
                    img {
                        width: 179px;
                    }
                }

                &__search {

                    align-self: stretch;
                    border-radius: 10px;
                    background-color: $color-grey;
                    width: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20px;
                    display: none;

                    input {
                        background-color: $color-grey;
                        width: 100%;

                        &::placeholder {
                            color: silver;
                        }
                    }
                }

                &__question {
                    background-color: $color-green;
                    padding: 0 10px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                    @include font-style(16px, $ff-OpenSansSemiBold, $color-white);
                    display: none;

                }

                &__tel {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 100%;
                    display: none;

                    &--link {
                        @include font-style(16px, $ff-OpenSansBold, $color-black);
                    }

                    &--text {
                        @include font-style(12px, $ff-OpenSansRegular, silver);
                    }
                }

                &__mobile {
                    display: flex;
                    column-gap: 15px;

                    &--search {
                        display: block;
                    }

                    &--user {
                        display: block;
                    }
                }

                .hamburger-menu{
                    transition: all 0.3s ease;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 80px;
                    background-color: floralwhite;
                    width: 100%;
                    height: 100vh;
                    padding: 20px;
                    .header__connection {
                        display: flex;
                        column-gap: 20px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;
                        margin-bottom: 20px;
                        &--call {
                            width: 200px;
                            display: flex;
                            align-items: center;
                            column-gap: 5px;
                            border: 1px solid $primary-grey;
                            border-radius: 10px;
                            padding: 10px 20px;
                            font-size: 16px;
                            color: $primary-black;
                            transition: all 0.3s ease;
    
                            &:hover {
                                background-color: $primary-white-blue;
                                color: $color-white;
                            }
                        }
    
                        &--tg {
                            width: 200px;
                            display: flex;
                            align-items: center;
                            column-gap: 5px;
                            border: 1px solid $primary-grey;
                            border-radius: 10px;
                            padding: 10px 20px;
                            font-size: 16px;
                            color: $primary-black;
                            transition: all 0.3s ease;
    
                            &:hover {
                                background-color: $primary-white-blue;
                                color: $color-white
                            }
                        }
                    }
    
                    .header__list {
                        margin-bottom: 50px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;
                        width: 100%;
                        row-gap: 20px;
                        &--item {
                            position: relative;
    
                            &::after {
                                content: " ";
                                width: 0;
                                height: 2px;
                                background-color: $primary-green;
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                transform: translate(-50%);
                                transition: all 0.3s ease;
                            }
    
                            &:hover::after {
                                width: 100%
                            }
    
                            &-link {
                                @include font-style(16px, $ff-OpenSansSemiBold, $primary-black);
                            }
                        }
                    }
    
                    .header__user {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        display: block;
    
                        &--link {
                            @include font-style(16px, $ff-OpenSansRegular, $primary-black);
                        }
                    }
                }
            }
        }

        .header-down {
            transition: all 0.3s ease;
            margin-top: 0px;
            display: block;
            position: absolute;
            background-color: floralwhite;
            width: 100%;
            top: 82px;
            display: none;
            .wrapper {
                padding: 30px 0;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
               
                flex-direction: column;
                height: 100vh;
                .header__connection {
                    display: flex;
                    column-gap: 20px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    margin-bottom: 20px;
                    &--call {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        border: 1px solid $primary-grey;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: $primary-black;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $primary-white-blue;
                            color: $color-white;
                        }
                    }

                    &--tg {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        border: 1px solid $primary-grey;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: $primary-black;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $primary-white-blue;
                            color: $color-white
                        }
                    }
                }

                .header__list {
                    margin-bottom: 50px;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    width: 100%;
                    row-gap: 20px;
                    &--item {
                        position: relative;

                        &::after {
                            content: " ";
                            width: 0;
                            height: 2px;
                            background-color: $primary-green;
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translate(-50%);
                            transition: all 0.3s ease;
                        }

                        &:hover::after {
                            width: 100%
                        }

                        &-link {
                            @include font-style(16px, $ff-OpenSansSemiBold, $primary-black);
                        }
                    }
                }

                .header__user {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    display: block;

                    &--link {
                        @include font-style(16px, $ff-OpenSansRegular, $primary-black);
                    }
                }
            }
        }
    }
}


